# Mean

### method 1 - Manual Calculation

In [1]:
population = [150,160,170,165,155]
sample = [150,170,165]

pop_mean = sum(population)/len(population)
sample_mean = sum(sample)/len(sample)

print("Population mean is: ", pop_mean)
print("Sample mean is: ", sample_mean)

Population mean is:  160.0
Sample mean is:  161.66666666666666

### method 2 - using Numpy

In [2]:
import numpy as np

data = [85,90,78,92,88]

arithmetic_mean = np.mean(data)

print("The mean is: ", arithmetic_mean)

The mean is:  86.6

### mehod 3 - using Statistics

In [3]:
import statistics as stats

var = [10,20,30,40,50]

mean_stats = stats.mean(var)

print("The mean is: ", mean_stats)

The mean is:  30

### method 4 - from Dataset

In [7]:
import seaborn  as sns   # seaborn already has a dataset.
import numpy as np

iris = sns.load_dataset('iris')
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
# Calculate mean of Sepal_length
meann_sepal_lenght = np.mean(iris['sepal_length'])
print("The mean of sepal length is: ", meann_sepal_lenght)

The mean of sepal length is:  5.843333333333334

# Median

### method 1 - using Numpy

In [11]:
data = [20,22,24,26,28,100]

median = np.median(data)
print("The median is: ", median)

The median is:  25.0

### method 2 - Statistics

In [12]:
import statistics as stats

data = [1,41,54,5,51,56]
median = stats.median(data)
print(median)

46.0

### method 3 - Pandas

In [14]:
import pandas as pd

df = pd.DataFrame({
    'values': [20,22,24,26,28,100]
})
print(df)

median_pandas = df['values'].median()
print('The median of the data is: ', median_pandas)

   values
0      20
1      22
2      24
3      26
4      28
5     100
The median of the data is:  25.0

### method 4 - from Dataset

In [15]:
import seaborn  as sns   # seaborn already has a dataset.
import numpy as np

iris = sns.load_dataset('iris')

median = np.median(iris['sepal_length'])
print("The median of the  dataset is: ", median)

The median of the  dataset is:  5.8

# Mode

### method 1 - Statistics

In [17]:
import statistics as stats

data = [85,90,90,95,85,85,96,80]

mode = stats.mode(data)
print('the mode is: ', mode)

the mode is:  85

In [22]:
import statistics as stats

data = [85,90,90,95,85,85,96,80,90]   # stats method only shows the first Mode( where as here mode is both 85 & 90)

mode = stats.mode(data)
print('the mode is: ', mode)

the mode is:  85

In [23]:
import statistics as stats

data = [85,90,90,95,85,85,96,80,90]

mode = stats.multimode(data)   # multimode shows multiple modes
print('the mode is: ', mode)

the mode is:  [85, 90]

### method 2 - Scipy Library

In [24]:
from scipy import stats

data = [85,90,90,95,85,85,96,80]

mode = stats.mode(data)
print("The mode of the data is: ", mode)

The mode of the data is:  ModeResult(mode=85, count=3)